AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

AZURE_KEY_VAULT_URI=
AZURE_BLOB_STORAGE_URI=
COLLECTION_HUB_COVERS_BLOB=

COSMOS_ENDPOINT=
COSMOS_DATABASE=
COSMOS_CONTAINER=

TWITCH_DEVELOPER_GRANT_TYPE=client_credentials
