<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://collectionhubfunctions20260715222721-dra4fkemdpbfg7gw.germanywestcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8c383980-5569-4521-b01b-8508126349db/resourcegroups/collecionHub/providers/Microsoft.Web/sites/CollectionHubFunctions20260715222721</ResourceId>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://collectionhubfunctions20260715222721-dra4fkemdpbfg7gw.scm.germanywestcentral-01.azurewebsites.net/</PublishUrl>
    <UseBlobContainerDeploy>true</UseBlobContainerDeploy>
  </PropertyGroup>
</Project>